@import url('https://fonts.googleapis.com/css?family=Galada|Roboto+Condensed&display=swap');
body {
	margin: 0px;
}

.backimage {
	width: 100%;
	height: 80%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.font-icon{
	font-size:6em;
}

.wiserelement {
	animation: float 6s ease-in-out infinite;
}

.lbl-links{
	font-family: 'Roboto Condensed', sans-serif;
	cursor: pointer;
}

.font-galada{
	font-family: 'Galada', cursive;
	font-size: 40px;
	text-shadow: 6px 4px 3px rgba(0,0,0,0.32);
}

.suporte-form{
	margin-top:100px;
	padding-top: 200px;
	padding-bottom: 100px;
	background-image: url('../img/suporteinfo.png');
	background-attachment: fixed;
	background-position: center;
}

.formulario {
	background-image: url('../img/wiserimage.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.form-control {
	background-color: rgba(40, 45, 48, 0.75);
	border-color: #1f1f1f;
}

.form-control:focus {
	background-color: rgba(40, 45, 48, 0.75);
	border-color: #1f1f1f;
}

.form-control::placeholder {
	color: #b5b5b5;
}

.inform-suport{
	margin-top:10em;
	padding-top:80px;
	padding-bottom:80px;
}

.button-back{
	bottom: 50px;
	right: 20px;
	z-index: 2;
	animation: float 4s ease-in-out infinite;
	cursor: pointer;
	
}

.button-back a{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	font-size:50px;
	box-shadow: 10px 10px 14px -9px rgba(0,0,0,0.75);
}

@keyframes float {
	0% {
		transform: translatey(20px);
	}

	50% {
		transform: translatey(40px);
	}

	100% {
		transform: translatey(20px);
	}
}
