body{
	background-image: url("../img/fundo.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
}

.card-body h5{
	color: white;
	margin-left: 80px;
}

.card-header h3{
	color: #ffce2a;
}

.card-header h5{
	color: white;
}

.container{
	margin-left: 0px;
}

.card{
	height: 380px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgb(78, 78, 78) !important;
	box-shadow: 5px 5px 40px black;
    border-radius: 10px;
}

.links{
	color: white;
}

#usu-prof{
	margin-top: 50px;
	margin-left: 100px;
}

#usu-padrao{
	margin-top: 50px;
	margin-left: 40px;;
}

.far.fa-user,.fa-graduation-cap{
	color: white;
}
