body {
  background: #161a20;
}

.card {
  -webkit-box-shadow: 2px -3px 48px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -3px 48px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 2px -3px 48px -14px rgba(0, 0, 0, 0.75);
}

.text-font-calibri {
  font-family: "Calibri";
}

.text-font-opensans {
  font-family: "Open Sans Bold";
}

.btn-hover-white {
  color: #ffcf29;
}

.btn-hover-white:hover {
  color: #fff;
}

.card-header {
  background-color: rgba(38, 40, 46, 0.8)
}

.card-body {
  background-color: rgba(47, 49, 56, 0.75)
}

.text-clear {
  color: #afb3bb;
}

.card {
  animation: zoomInDown 0.5s linear;
}

.img-usu {
  position: relative;
  margin-left: -50px;
  margin-top: -30px;
  margin-bottom: -10px;
}

.config-item:hover {
  background-color: #ffcf29;
}

.nav-link i {
  color: #ffcf29;
}

.config-item:hover .nav-link i {
  color: #212529;
}

.nav-link {
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.image-card{
  overflow: hidden;
}

.btn-perfil-img{
  height: 100px;
  width: 100px;  
}

.lnd-alter{
  transition: 0.2s linear;
  opacity: 0;
}

.btn-perfil-img img{
  transition: 0.1s linear;
  width: 100px;
  height: 100px;
  background-size: cover;
}

.btn-perfil-img:hover img{
  filter: blur(1px);
  filter: brightness(40%);
}
.btn-perfil-img:hover .lnd-alter{
  transform: translateY(-65px);
  opacity: 1;
}

.btn-perfil-img:focus {
  outline: none;
  box-shadow:none !important;
}

.custom-file-input ~ .custom-file-label::after {
  content: "Buscar";
}

/* Opção Ativado */

.ativado {
  border-left: 10px solid #ffc700;
  background-color: #e0b107;
  color: #212529;
}

.ativado i {
  color: #212529;
}

.ativado:hover {
  background-color: #ffcf29;
}

@keyframes move_eye {
  from {
    transform: rotate(30deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(30deg);
  }

  80% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}