body {}

.text-warning:hover {
    color: none;
    color: #fff;
}

.navbarMenuItens {
    margin-top: 45px;
    z-index: 1;
    transition: 0.1s;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.areas-slide {
    margin-top: 50px;
}

.areasLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.areasLinks:hover {
    filter: brightness(80%);
}

.iconsArea {
    font-size: 35px;
}

.lista-area-links {
    width: 100%;
    background-color: #000;
    height: 80px;
}

/* JQUERY Menu */

.navbarMenuItens.hide {
    transform: translateY(-45px);
}

.svgRetrat {
    transform: scale(0.8) translateY(-20px);
}

.logoRetrat {
    transform: scale(0.9) translateY(5px);
}
@media (max-width: 992px) {
    .content_student{
        display: none;
        
    }
    .content_profissional{
        display: none;
    }
    .student{
        background-position: -250px;
    }
}
@media (max-width: 800px) {
    .fundoLogo {
        transform: scale(0.7) translateY(10px);
    }

    .svgLogo {
        transform: scale(1.1) translateY(-15px);
    }

    .svgRetrat {
        transform: scale(0.6) translateY(-20px);
    }

    .logoRetrat {
        transform: scale(1) translateY(-6px);
    }
    .student{
        background-position: -350px;
    }
}

@media (max-width: 576px) {
    .fundoLogo {
        transform: scale(0.28) translateY(115px);
    }

    .svgLogo {
        transform: scale(1.2) translateY(-25px);
    }

    .svgRetrat {
        transform: scale(0.4) translateY(-50px);
    }

    .logoRetrat {
        transform: scale(1) translateY(-10px);
    }
    .iconsArea {
        font-size: 20px;
    }
    .student{
        background-position: -350px;
    }
}

/* JQUERY Menu */


.logoWiseMind {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    width: 150px;
    height: 150px;
}

#logo {
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

#botoes-entrada button {
    cursor: pointer;
}

.fundoLogo {
    background-color: white;
    width: 200px;
    height: 200px;
    margin-top: -110px;
    border-radius: 100%;
    transition: 0.1s;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
.student{
    height: 100%;
    background-image: url('../img/Estudante.jpg');
    background-attachment: fixed;
    background-size:cover;
}
.profissional{
    height: 100%;
    background-image: url('../img/profissional.png');
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.content_student{
    position: relative;
    height: 100%;
    width: 100%;
    background: #fff;
    clip-path: polygon(0% 0%, 0% 101%, 45% 101%, 25% 0%, 0% 0%);
}
.content_profissional{
    position: relative;
    height: 100%;
    width: 100%;
    background: #fff;
    clip-path: polygon(1100% 100%, 100% 101%, 75% 101%, 55% 0%, 100% 0%);
}